@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
	font-family: 'Open Sans', sans-serif;
	padding: 0px;
	margin: 0px;
}
body{
  min-width: 100%;
  max-width: 100%;
}

/* navbar*/
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
	overflow: hidden;
    opacity: 0,5;
    background-color: green;
}
	
h1:hover{
	overflow: hidden;
    opacity: 1;
    background-color: #24890D;
}
h3:hover{
	overflow: hidden;
    opacity: 1;
    background-color: #24890D;
}
.container-fluid{
	height: 130px;
}
.navbar-brand{
	line-height: 0px;
	padding-left: 100px;
	text-align: center;
}
.navbar-brand h3{
	padding: 0 0 0 0px;
	margin: 0 0 0 0px;
}

.navbar-nav{
	font-size: 20px;
	float: right;
	padding-top: 65px;
}
.navbar-nav > li{
	padding: 10px;
}

.navbar-nav > li > a:hover {
	overflow: hidden;
    opacity: 1;
    background-color: #24890D;
}
.navbar-inverse{
	background-color: black;
}
/* section centrale (image) */

.container{
	width: 100%;
	padding: 0px;
	margin: 0px;
}

/*   carrousel  */
#carrousel{
   padding-top: 120px;
   width: 100%;
   height: 700px;
   overflow: hidden;
   border: 5px solid #F2F2F2;
}

#carrousel ul{
   width: 100%;
   height: 700px;
   padding:0; margin:0;
   list-style: none;

}
#carrousel ul li{
	float: left;
}

/*  section sous-image  */
#blockcentral{
	height: 300px;
	width: 100%;
	
}
#bibliographie{
	
	height: 300px;
}
#bibliographie img{
	height: 300px;
	margin-left: 80px;
}

.Démonstration{
	height: 300px;
}
.Démonstration img{
	height: 300px;

}

#conntacte{
	height: 300px;

}
#conntacte img{
	height: 300px;
	margin-left: 150px;
}
#button3{
	margin-left: 210px;
	margin-top: 20px;
}
#button2{
	margin-left: 150px;
	margin-top: 20px;
}
#button1{
	margin-left: 150px;
	margin-top: 20px;
}

/* fotter */
#fotter{
	background-color: black;
	text-align: center;
	color: white;
	height: 80px;
	margin-top: 80px;
	padding-top: 20px;
	font-size: 18px;
}
#fotter:hover{
	overflow: hidden;
    opacity: 1;
    color: #24890D;
}