@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {

	font-family:'Open Sans', sans-serif;
	padding: 0px;
	margin: 0px;
}

.container{
	width: 100%;
	background-color: #E8E8E8;
}

				/****************************************************/
				/**************     navbar       *******************/
				/***************************************************/


.navbar-inverse{
	background-color: black;
	margin-bottom: 0px;

}
.container-fluid > .navbar-header{
	text-align: center;
	padding-left: 50px;
	/*padding-top: 20px;*/
}

.container-fluid > .navbar-header:hover{
	overflow: hidden;
    opacity: 0,5;
    background-color: green;
}

.container-fluid > .navbar-header h4 a{
	color: white;
	text-decoration: none;
	font-family: 'Great Vibes';

}

.navbar-nav{
	font-size: 20px;
	float: right;
}

.navbar-nav li{
	font-family: 'GreatVibes', sans-serif;
	padding-left: 5px;

}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a{
	color: white;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
	overflow: hidden;
    opacity: 0,5;
    background-color: green;

}

				/*****page d'accueil*************************/

				/******     carousel     ***************/
				/*********************************************/

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
      height: 460px
  }

.carousel{
	margin-top: 120px;
	margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
	background-image:none;
	margin-right: 30px;
	margin-left: 30px;
}

.carousel-caption{
	padding-bottom: 20px;
}
.carousel-caption p a{
	color: black;
	font-size: 16px;
	margin-bottom: 0px;
	background-color: white;
}


					/*******page d'accueil***************************/
					/********    sectio technos       ***************/
					/************************************************/
@charset "UTF-8";

.imgtechnos{
	margin-top: 50px;
	width: 200px;
	height: 200px;
	opacity:0.6;
}
.imgtechnos:hover{
	opacity:1;
	color:#f05f40;
    height: 200px;
    width: 200px;
}

#technos{
	/*height: 300px;*/
	background-color: white;
	border-top: 2px solid green;
	border-bottom: 2px solid green;
}

			/***********page d'accueil************************/
			/*******      section contact       *************/
			/************************************************/

#contact{
	margin-top: 10px;
	margin-bottom: 20px;
}
h4{
	font-family: 'Great Vibes';
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
}
a:focus, a{
	color: black;
}
a:focus, a:hover{
	color: green;
}
#phone{
	padding-top: 20px;
	padding-left: 200px;
}
.fa-phone{
	font-size: 30px;
	padding-left: 35px;
	padding-bottom: 10px;
	color: green;
}
#mail{
	padding-top: 20px;
	padding-left: 300px;
}
.fa-envelope{
	padding-left: 35px;
	padding-bottom: 10px;
	font-size: 30px;
	color: green;
}

.hr{
	margin-left: 600px;
	width: 100px;
	height: 2px;
	border: 2px solid green;
}


/***************************************************************/
							/* footer */
/***************************************************************/
#footer{
	background-color: black;
	text-align: center;
	color: white;
	font-size: 18px;
}


  /*********************************************/
           /***  images  page Projects****/
  /*********************************************/
#img{
	margin-top: 120px;

}

.img-responsive {
	height: 250px;
	margin:0px auto;
}
.img-responsive:hover{
	opacity:0.6;
	color:#f05f40;
    height: 250px;
}

/*************************************************************/
/*************   page cv      *******************************/
/************************************************************/

.nom {
	text-align: center;
}
.rezo_sociaux{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;

}
.rezo_sociaux a {
	padding-left: 30px;
}
.imgcv img{
	text-align: center;
	margin-top: 110px;
	height: 200px;
	border-radius: 100px;
	margin-bottom: 20px;
}
.imgcv img:hover{
	opacity:0.6;
	color:#f05f40;
}
.adresse{
	border:2px solid green;
	background-color: #C6CEAF;
	padding-left: 50px;
	font-size: 16px;
	color: black;
	line-height: 20px;
	margin-bottom: 20px;
}
.adresse .fa-envelope{
	padding-left: 0px;

}

.phrasecle{
	background-color: white;
	border: 2px solid;
	font-size: 16px;
	color: black;
	padding-top: 15px;
	padding-bottom: 15px;
}

h3{
	border:2px solid green;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #C6CEAF;
}
.cv ul{
	padding-left:50px;
	font-size: 16px;
	color: black;
	line-height: 30px;
}

#rightblock{
	margin-top: 90px;
	padding-right: 60px;
}
#leftblock #rightblock p{
	font-size: 16px;
	color: black;
	line-height: 20px;
}


 /*********************************************/
           /***  images  page technos****/
 /*********************************************/

.imgtechno{
	height: 250px;
	margin:20px auto;
}
.imgtechno:hover{
	opacity:0.6;
	color:#f05f40;
    height: 250px;
}
