@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {

	font-family:'Open Sans', sans-serif;
	padding: 0px;
	margin: 0px;

}

.container{
	width: 100%;
	background-color: #E8E8E8;
}
				/****************************************************/
				/***************** navbar***************************/


.navbar-inverse{
	background-color: black;

}
.container-fluid > .navbar-header{
	text-align: center;
	padding-left: 80px;
}

.container-fluid > .navbar-header:hover{
	overflow: hidden;
    opacity: 0,5;
    background-color: green;
}

.container-fluid > .navbar-header h2 a{
	color: white;
	text-decoration: none;
	font-family: 'Great Vibes';
	/*font-family: 'Great Vibes';*/
}

.navbar-nav{
	font-size: 20px;
	float: right;
}

.navbar-nav li{
	font-family: 'GreatVibes', sans-serif;
	padding-top: 50px;
	padding-left: 5px;
	
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a{
	color: white;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
	overflow: hidden;
    opacity: 0,5;
    background-color: green;
   
}

				/*****page d'accueil*************************/

				/******carousel*****************************/

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
      height: 460px
  }

.carousel{
	margin-top: 120px;
	margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
	background-image:none;
	margin-right: 30px;
	margin-left: 30px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev:hover{
	color:green; 
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev:hover{
	color: green;
}

.carousel-caption{
	padding-bottom: 20px;
}
.carousel-caption p a{
	color: black;
	font-size: 16px;
	margin-bottom: 0px;
	background-color: white;
}


					/*******page d'accueil***************************/
					/************sectio technos***************/

#technos{
	height: 300px;
	background-color: white;
	border: 2px solid green;
}

.imgtechnos{
	padding-top: 30px;
	width: 30%;
	height: 200px;
}
.imgtechnos:hover{
	opacity:0.6; 
	color:#f05f40;
    height: 150px;
	 -webkit-transform: rotateY(45deg);
}
/***********page d'accueil************************/
/******* section contact*****************/
#contact{
	margin-top: 10px;
}
h4{
	font-family: 'Great Vibes';
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
}
#phone{
	padding-top: 20px;
	padding-left: 200px;
}
.fa-phone{
	font-size: 30px;
	padding-left: 35px;
	padding-bottom: 10px;
	color: green;
}
#mail{
	padding-top: 20px;
	padding-left: 300px;
}
.fa-envelope{
	padding-left: 35px;
	padding-bottom: 10px;
	font-size: 30px;
	color: green;
}
.hr{
	margin-left: 600px;
	width: 100px;
	height: 2px;
	border: 2px solid green;
}

/***************************************************************/
							/* footer */
/***************************************************************/
#footer{
	background-color: black;
	text-align: center;
	color: white;
	height: 80px;
	padding-top: 20px;
	font-size: 18px;
	margin-top: 10px;
}
#footer:hover{
	overflow: hidden;
    opacity: 1;
    color: #24890D;
}

  /*********************************************/
           /***  images  page démostration****/
#img{
	margin-top: 120px;

}

.img-responsive{
	height: 250px;
	margin:0px auto;
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
}
.img-responsive:hover{
	opacity:0.6; 
	color:#f05f40;
    height: 250px;
    -webkit-transform: rotate(360deg); 
    transform: rotate(360deg);
}

/*************************************************************/
/*************page cv**********************************************/

#leftblock{
	padding-left: 50px;
	padding-right: 100px;
}
.imgcv img{
	margin-top: 110px;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	margin-left: 100px;	
}

.phrasecle p{
	background-color: white;
	border: 2px solid;
	padding: 5px;
}

h3{
	border:2px solid green;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #C6CEAF;
}

#rightblock{
	margin-top: 110px;
	padding-left: 50px;
}
#leftblock #rightblock p{
	font-size: 16px;
	color: black;
	line-height: 20px;
}
#leftblock #rightblock ul{
	padding-left: 15px;
	font-size: 14px;
	color: black;
	line-height: 30px;
}
ul{
	padding-left: 15px;
}

