*{

	font-family:"Open Sans", sans-serif;
	padding: 0px;
	margin: 0px;
	max-width: 100%;
}

#container-fluid{
	padding: 0 0 0 0px;
	margin: 0 0 0 0px;
}

/******navbar*****************/
#navtop{
	background-color: white;
}
#navbar-header a{
	color: #f05f40;
}
#navbar{
	float: right;

}
#navbar li{
	padding: 0 0 0 10px;
	text-transform: uppercase;
}
#navbar li a:hover{
	color: grey;
}
#background-image{
	padding-top: 51px;
	height: 800px;
	width: 100%;
	background-image: url(img/header.jpg );
	background-repeat: no-repeat;
	margin: 0 0 0 0px;
}

#background-image h1{
	padding-top: 80px;
	font-size: 100px;
	padding-right: 20px;
	color: white;
	
}
.souligne1{
	width: 50px;
	background-color:#f05f40; 
	height:4px;
	border: none;
	margin-top:30px;
	margin-left: 600px;
}
#background-image h4{
	padding-top: 50px;
	font-size: 28px;
	margin-right: 50px;
	margin-left: 100px;
	color: white;
}
#button-orange{
	background-color: #f05f40; 
	margin-top: 20px;

}




#section2{
	background-color: #f05f40;
	height: 450px;
	padding-top: 60px;
	padding-bottom: 0px;
	color: white;
	margin: 0 0 0 0px;
}
#section2 h2{
	padding-bottom: 20px;
}
#section2 h5{
	font-size: 20px;
	padding-top: 20px;
	color: white;
	line-height: 2;
}
.souligne2{
	width: 50px;
	background-color:#fff; 
	height:4px;
	border: none;
	margin:0 auto;

	}
#buttonblanc{
	margin-top: 20px;
}

/*partie At your service*/
#AtYou {
	height: 360px;
	padding-top: 60px;
	margin: 0 0 0 0px;
}

.souligne{
	width: 50px;
	background-color:#f05f40; 
	height:4px;
	border: none;
	margin:0 auto;
	}


	/*photos*/
	#container-img{
		width: 100%;
		padding: 0 0 0 0px;
		margin: 0 0 0 0px;
	}
	.pic1{
		background: url(img/1.jpg);
		background-repeat: no-repeat;
		float: left;
		width: 100%;
		height: 250px;
		
	}
	.text1{
		background:#FFF; 
		opacity:0;
	}

	.pic1:hover .text1{
		opacity:0.6; 
		text-align:center;
		color:#f05f40;
		font-size:30px;
		padding:80px; 
		height: 250px;
	}
	.pic2{
		background: url(img/2.jpg);
		background-repeat: no-repeat;
		float: left;
		width: 100%;
		height: 250px;
	}
	.text2{
		background:#FFF; 
		opacity:0;

	}
	.pic2:hover .text2{
		opacity:0.6; 
		text-align:center;
		color:#f05f40;
		font-size:30px;
		padding:80px; 
		height: 250px;
	}
	.pic3{
		background: url(img/3.jpg);
		background-repeat: no-repeat;
		float: left;
		width: 100%;
		height: 250px;
	}
	.text3{
		background:#FFF; 
		opacity:0;
	}
	.pic3:hover .text3{
		opacity:0.6; 
		text-align:center;
		color:#f05f40;
		font-size:30px;
		padding:80px; 
		height: 250px;
	}
	.pic4{
		background: url(img/4.jpg);
		background-repeat: no-repeat;
		float: left;
		background-repeat: no-repeat;
		float: left;
		width: 100%;
		height: 250px;
	}
	.text4{
		background:#FFF; 
		opacity:0;
	}
	.pic4:hover .text4{
		opacity:0.6; 
		text-align:center;
		color:#f05f40;
		font-size:30px;
		padding:80px; 
		height: 250px;
	}
	.pic5{
		background: url(img/5.jpg);
		background-repeat: no-repeat;
		float: left;
		width: 100%;
		height: 250px;	
	}
	.text5{
		background:#FFF; 
		opacity:0;
	}
	.pic5:hover .text5{
		text-align: center;
		opacity:0.6; 
		color:#f05f40;
		font-size:30px;
		padding:80px;
		height: 250px; 
	}
	.pic6{
		background: url(img/6.jpg);
		background-repeat: no-repeat;
		float: left;
		width: 100%;
		height: 250px;
	}
	
	.text6{
		background:#FFF; 
		opacity:0;
	}
	.pic6:hover .text6{
		text-align: center;
		opacity:0.6; 
		color:#f05f40;
		font-size:30px;
		padding:80px; 
		height: 250px;
	}

	
#FreeD{

	padding-top: 50px;
	padding-bottom: 50px;
	min-width: 100%;
	padding: 0 0 0 0px;
	margin: 0 0 0 0px;
	background-color: black; 
	height: 215px;
}

/* partie bottom*/

}
#contact{
	height: 430px;
}

#Let {
	margin: 0 0 0 0px;
}
#contact h2{
	padding-top: 60px;
}
#contact p{
	text-align: center;
	padding-top: 15px;
}
#contact-us{
	height: 200px;
}
#phone{
	padding-top: 15px;
}