@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
	font-family: 'Open Sans', sans-serif;
	
	background-color: #D8E1E8;
}

body{
	min-width: 100%;
	max-width: 100%;
	text-align: center;
}

h1{
	color: red;
	text-align: center;
}
.btnPrécédent{
	float: left;
	margin-left: 250px;
	margin-top: 20px;
}
.btnSuivant{
	float: right;

}
.anser{
height: 40px;
}